.slider {
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  width: 1137px;
}

.slider img {
  width: 100%;
}

.promo-box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .08);
  margin: -60px auto 80px;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 5;
}

.promo-box__title {
  margin: 20px 0 30px;
}

.promo-left{
  float: left;
  width: 35%;
  border-right: 1px solid #999;
}

.promo-right{
  float: right;
  padding: 0 20px;
  width: 60%;
}

.promo-bottom-left{
  float: left;
  width: 400px;
}

.about {
  padding: 60px 0;
}

.next-events {
  margin-bottom: 60px;
}

.promo-bottom-right{
  float: right;
  width: 400px;
}

/*.promo-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .08);
}*/

.help-txt {
  max-width: 100%;
}

