@charset "UTF-8";
/* stylelint-disable */
/* Reset ♥ Adapted from http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  margin: 0;
  border: 0; }

html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: inherit; }

button {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  text-align: left;
  appearance: none;
  user-select: none;
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

svg {
  display: inline-block; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  vertical-align: top; }

video {
  width: 100%;
  height: auto; }

q::before,
q::after {
  content: ''; }

pre {
  display: block;
  white-space: pre-wrap;
  tab-size: 2; }

legend {
  display: block;
  width: 100%; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

html {
  font-size: .875em; }

body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.45;
  font-weight: 400;
  color: #444; }

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  border-bottom: 1px solid #dd6360;
  text-decoration: none; }

a:hover,
a:focus,
a:active {
  border-bottom-color: transparent; }

a img {
  border: none; }

p {
  font-size: 1em;
  margin-bottom: 1.3em; }

p,
blockquote,
ul,
ol {
  margin-bottom: 1.3em; }

abbr {
  border-bottom: 1px dotted;
  border-color: #999595; }

abbr[title="requerido"],
abbr[title="Requerido"] {
  color: #dd6360;
  color: rgba(207, 27, 65, 0.8);
  border-bottom: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.414em 0 0.5em;
  font-family: Poppins, Verdana, sans-serif;
  font-weight: 600;
  line-height: 1.2; }

h1 {
  font-size: 2.369em; }

h2 {
  font-size: 1.777em; }

h3 {
  font-size: 1.333em; }

h4,
h5,
h6 {
  font-size: 1em; }

small,
.font-small {
  font-size: 0.75em; }

ol,
ul {
  margin: 8px 0;
  margin: 0.5rem 0;
  padding: 0 0 0 35px;
  padding: 0 0 0 2.1875rem; }

ul {
  padding-left: 0; }

ol li {
  list-style-type: decimal; }

ul li {
  background-image: url("../img/bullet.gif");
  background-repeat: no-repeat;
  list-style-type: none;
  background-position: left 6px;
  padding-left: 1.3em; }

.note {
  color: #999595;
  font-size: 13px;
  font-size: 0.8125rem;
  display: inline-block;
  line-height: 22px;
  margin-bottom: 0;
  vertical-align: top; }
  .note * {
    color: inherit; }

.help-txt {
  color: #444;
  max-width: 400px;
  margin: 18px auto;
  display: block; }

.section-intro {
  margin-bottom: 30px;
  margin-top: 40px; }
  .section-intro h2 {
    display: inline-block;
    margin-top: 0; }
  .section-intro .button {
    float: right; }

.section-intro__leading {
  font-size: 1.333em;
  margin: 0; }

button,
.button,
.button:link,
input[type="button"],
input[type="submit"] {
  padding: 0 26px;
  margin: 0 8px 4px 0;
  line-height: 40px;
  font-size: 14px;
  min-height: 19px;
  border-radius: 4px;
  background-color: #399fd3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: white;
  display: inline-block;
  font-weight: normal;
  font-family: Poppins, Verdana, sans-serif;
  height: 40px;
  min-width: auto;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  width: auto;
  vertical-align: middle; }

button:hover,
button:focus,
.button:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover,
button[disabled]:hover,
.button-disabled:hover,
.button.button-disabled:hover:focus,
.button.button-disabled:hover:active,
input[type="button"][disabled]:focus,
input[type="submit"][disabled]:focus,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #7ab5d6;
  cursor: pointer; }

.button-l,
input.button-l,
.button-l:link,
.button-l:visited,
.button-l:hover,
.button-l:focus,
.button-l:active {
  min-height: 50px;
  min-height: 3.125rem;
  padding: 0 32px;
  padding: 0 2rem;
  line-height: 50px;
  line-height: 3.125rem; }

.button-prominent,
input.button-prominent,
.button-prominent:link,
.button-prominent:visited,
.button-prominent:hover,
.button-prominent:focus,
.button-prominent:active {
  background: #dd6360; }

.button-secondary,
input.button-secondary
.button-secondary:link,
.button-secondary:hover {
  color: #6d6e71;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.35);
  text-shadow: none;
  border: 1px solid #e5e5e5; }

.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.6); }

.btn-action-event,
.btn-action-event:link,
.btn-action-event:visited,
.btn-action-event:hover,
.btn-action-event:focus,
.btn-action-event:active {
  border: 0;
  color: #3979aa;
  display: block;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 4px; }

.btn-action-event:hover {
  color: #373737; }

button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active {
  background-color: #e5e5e5;
  cursor: not-allowed;
  text-shadow: none;
  color: #999595; }

textarea,
input,
select {
  border-radius: 4px;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: #999595;
  border-color: rgba(153, 149, 149, 0.7);
  margin-bottom: 1em;
  font-family: Poppins, Verdana, sans-serif; }

input,
select {
  padding: 0 12px;
  padding: 0 0.75rem;
  margin: 0 8px 2px 0;
  margin: 0 0.5rem 0.125rem 0;
  line-height: 19px;
  line-height: 1.1875rem;
  font-size: 14px;
  font-size: 0.875rem;
  min-height: 39px;
  min-height: 2.4375rem;
  vertical-align: middle;
  display: inline-block; }

input[disabled] {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5); }

select {
  background-image: url(../img/arrow-triangle-down.png);
  background-position: 96% center;
  background-position: top 12px right 15px;
  background-repeat: no-repeat;
  padding: 9px 26px;
  padding: 0.5625rem 1.625rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  font-size: 1em;
  line-height: 1.4em;
  -webkit-appearance: none;
  min-width: 150px; }

textarea {
  padding: 1em 1%;
  font-size: 1em;
  margin: 0; }

select[disabled] {
  cursor: not-allowed;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5); }

textarea[disabled] {
  cursor: not-allowed;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5); }

fieldset {
  border: 0;
  margin-bottom: 2em; }

label {
  line-height: 20px;
  line-height: 1.25rem;
  display: block;
  margin-right: 0.5em;
  text-transform: uppercase;
  color: #6d6e71;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 0.8em;
  font-family: Poppins, Verdana, sans-serif;
  font-weight: 600; }

.field-wrapper {
  margin-bottom: 1em; }
  .field-wrapper input[type="text"],
  .field-wrapper input[type="number"],
  .field-wrapper input[type="email"],
  .field-wrapper input[type="date"],
  .field-wrapper input[type="password"],
  .field-wrapper textarea,
  .field-wrapper select {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%; }
  .field-wrapper button,
  .field-wrapper .button,
  .field-wrapper .button:link,
  .field-wrapper input[type="button"],
  .field-wrapper input[type="submit"] {
    margin-bottom: 0;
    margin-top: 1em; }
  .field-wrapper input.short-input {
    width: 48%; }

legend {
  font-family: Poppins, Verdana, sans-serif;
  font-weight: 600;
  margin-bottom: 1em; }

.field-group {
  width: 100%;
  float: left;
  margin-bottom: 0.5em; }
  .field-group .field-wrapper {
    float: left;
    width: 48%; }
  .field-group .field-wrapper:last-child {
    margin-right: 0;
    float: right; }

.form__wrap {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 auto;
  padding: 40px; }
  .form__wrap form {
    margin: 30px auto;
    max-width: 700px; }
  .form__wrap .alert {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 100%; }

.list-form {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%; }

.list-form li {
  list-style-type: none;
  margin-bottom: 0.5em;
  background-image: none;
  padding-left: 0; }

.feature-fieldset {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.35);
  border: 1px solid #e5e5e5;
  padding: 20px 20px 10px; }

.save-product {
  padding: 15px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
  border: 1px solid #f9f9f9; }

.remove-square {
  visibility: hidden; }

.input-file::before {
  content: 'Seleccionar';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #d6d5d5;
  border-radius: 2px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 12px;
  visibility: visible;
  position: relative;
  margin: 20px 0; }

.input-file:hover::before {
  border-color: #bababa; }

.input-file-error::before {
  content: 'Seleccionar';
  display: inline-block;
  border-radius: 2px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 12px;
  visibility: visible;
  position: relative;
  margin: 20px 0;
  background: -webkit-linear-gradient(top, #ffc0cb, #ffccd5);
  border: 1px solid #df8380; }

.input-file-error:hover::before {
  border: 1px solid #c7534f; }

.imgLogo {
  width: 250px; }

.alert,
.alert-failure,
.alert-success,
.alert-info {
  padding: 10px;
  padding: 0.625rem;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  border-radius: 3px;
  border-radius: 0.1875rem;
  background: #fedd44;
  background: rgba(254, 221, 68, 0.4);
  border: 1px solid;
  border-color: #fedd44;
  border-color: rgba(254, 221, 68, 0.5);
  color: #494c49; }

.alert p,
.alert-failure p,
.alert-success p,
.alert-info p {
  margin: 0; }

.alert p + *,
.alert-failure p + *,
.alert-success p + *,
.alert-info p + * {
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

.alert-failure {
  background: #dd6360;
  background: rgba(207, 27, 65, 0.3);
  border-color: #dd6360;
  border-color: rgba(207, 27, 65, 0.1); }

.alert-success {
  background: #3f863f;
  background: rgba(63, 134, 63, 0.2);
  border-color: #3f863f;
  border-color: rgba(63, 134, 63, 0.1); }

.alert-info {
  background: #399fd3;
  background: rgba(57, 159, 211, 0.2);
  border-color: #399fd3;
  border-color: rgba(57, 159, 211, 0.1); }

.error {
  background-color: #f7f5f5;
  border: 2px solid #dd6360; }

.warning {
  background: #f5f1e0;
  border: 2px solid #fedd44; }

table {
  border-collapse: collapse;
  width: 100%; }

th,
td {
  border: 0.125em solid #333;
  line-height: 1.5;
  padding: 0.75em;
  text-align: left; }

th {
  background-color: #656460;
  color: #fff;
  font-weight: bold;
  text-align: center; }

td {
  background-color: #fff; }

.pp-header {
  background-color: #f1f1f1;
  padding: 0.5em 0;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ddd; }

.pattern {
  clear: both;
  float: left;
  margin: 0 0 3em;
  width: 100%; }

.source {
  width: auto;
  background-color: #fff;
  overflow: hidden; }

.main-content {
  margin: 0 auto;
  max-width: 900px; }

.main-content:before, .main-content:after {
  content: " ";
  display: table; }
.main-content:after, .main-content:after {
  clear: both; }

.group {
  margin: 0 auto;
  max-width: 1200px; }

.group:before,
.group:after {
  content: " ";
  display: table; }

.group:after,
.group:after {
  clear: both; }

.wrapper {
  background-color: #f4f4f4;
  padding: 40px 0 60px; }

.about {
  padding: 60px 0; }

.next-events {
  margin-bottom: 60px; }

.site-header {
  background-color: #3979aa;
  padding: 10px 0 0; }

.site-footer {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  padding: 30px 0; }

.full-width {
  width: 100% !important;
  max-width: 100% !important; }

.is-hidden {
  display: none !important; }

.login-form__wrap {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 60px auto 0;
  padding: 40px;
  position: relative;
  max-width: 400px; }
  .login-form__wrap .logo {
    float: none;
    left: 33%;
    margin: 0;
    position: absolute;
    top: -33px; }
    .login-form__wrap .logo a {
      color: #dd6360; }

.recover-txt {
  border-top: 1px solid #656460;
  margin-top: 20px; }

.bg-gray {
  background-color: #f4f4f4; }

.search-form {
  position: absolute;
  right: -7px;
  top: 25px; }

.menu {
  list-style: none;
  margin: 0; }
  .menu a {
    border: 0;
    display: block;
    float: left;
    padding: 4px 6px; }
    .menu a:hover {
      color: #656460; }
  .menu li {
    background: none;
    display: inline;
    font-family: Poppins, Verdana, sans-serif;
    font-weight: 600;
    padding: 0; }

.main-nav a,
.main-nav a:hover {
  border-bottom: 5px solid transparent;
  color: #1a3d58; }
.main-nav a {
  padding: 17px 10px 10px; }
.main-nav a:hover {
  color: #fff; }
.main-nav .is-active,
.main-nav .is-active:hover {
  border-bottom-color: #fff;
  color: #fff; }

.main-nav__item {
  float: left;
  line-height: 1; }

.main-nav__item--profile {
  float: right; }
  .main-nav__item--profile a {
    padding-left: 5px;
    padding-right: 5px; }

.nav-footer {
  float: right; }

.menu-quick-links {
  background-color: #fff;
  overflow: hidden;
  padding: 10px; }
  .menu-quick-links a {
    color: #3979aa; }
  .menu-quick-links li {
    font-size: 12px;
    font-weight: 400; }

.logo {
  float: left;
  font-size: 1.75em;
  margin: 6px 30px 0 0; }
  .logo a {
    border: 0;
    color: #fff; }

.actions-tabs {
  border-bottom: 2px solid #656460;
  float: left;
  font-size: 14px;
  margin-left: 0;
  margin: 0 0 40px;
  padding: 0;
  padding-top: 20px;
  position: relative;
  text-align: center;
  width: 100%; }

.nav-tab {
  float: left;
  font-family: Poppins, Verdana, sans-serif;
  font-weight: 600;
  display: inline-block;
  background-image: none;
  padding-left: 0; }
  .nav-tab .nav-tab-link {
    border-bottom: 2px solid transparent;
    padding: 16px 20px 5px;
    margin: 0 0 0 20px;
    display: block;
    position: relative; }
  .nav-tab .is-active {
    border-bottom-color: #656460; }

.actions-tabs__options {
  clear: both;
  display: table;
  width: 96%;
  float: none;
  max-width: 960px;
  margin: 0 auto;
  padding: 0; }

.no-data {
  background-color: #fff;
  padding: 20px;
  text-align: center; }

.item-list {
  margin-top: 20px; }
  .item-list li {
    margin-bottom: 5px; }
  .item-list .link-remove {
    border: 0;
    color: #3979aa;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px; }

.promo-box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
  margin: -60px auto 80px;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 5; }
  .promo-box .help-txt {
    max-width: 100%; }

.promo-box--no-hero {
  margin: 0; }

.promo-box__title {
  margin: 20px 0 30px; }

.promo-left {
  float: left;
  width: 35%;
  border-right: 1px solid #999; }

.promo-right {
  float: right;
  padding: 0 20px;
  width: 60%; }

.promo-bottom-left {
  float: left;
  width: 400px; }

.promo-bottom-right {
  float: right;
  width: 400px; }

.slider {
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  width: 1137px; }

.slider img {
  width: 100%; }

.profile-actions {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
  float: left;
  padding: 20px;
  width: 25%; }

.menu-actions a {
  color: #c2c2c2;
  padding: 8px;
  width: 100%; }
.menu-actions li {
  display: block; }
.menu-actions .is-active {
  color: #373737; }

.profile-info {
  float: right;
  width: 70%; }

.profile-info__name {
  margin-top: 0; }

.activity {
  margin: 60px 0 0; }

.activity__h {
  margin-bottom: 0; }

.profile-wrap {
  margin-top: 60px; }

/*# sourceMappingURL=styles.css.map */
