button,
.button,
.button:link,
input[type="button"],
input[type="submit"] {
  padding: 0 26px;
  margin: 0 8px 4px 0;
  line-height: 40px;
  font-size: 14px;
  min-height: 19px;
  border-radius: 4px;
  background-color: #399fd3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: white;
  display: inline-block;
  font-weight: normal;
  font-family: $font-family-contrast;
  height: 40px;
  min-width: auto;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  width: auto;
  vertical-align: middle;
}

button:hover, 
button:focus, 
.button:hover, 
input[type="button"][disabled]:hover, 
input[type="submit"][disabled]:hover, 
button[disabled]:hover, 
.button-disabled:hover, 
.button.button-disabled:hover:focus, 
.button.button-disabled:hover:active, 
input[type="button"][disabled]:focus, 
input[type="submit"][disabled]:focus, 
button[disabled]:focus, 
input[type="button"]:hover, 
input[type="button"]:focus, 
input[type="submit"]:hover, 
input[type="submit"]:focus {
  background-color: #7ab5d6;
  cursor: pointer;
}

.button-l, 
input.button-l, 
.button-l:link, 
.button-l:visited, 
.button-l:hover, 
.button-l:focus, 
.button-l:active {
  min-height: 50px;
  min-height: 3.125rem;
  padding: 0 32px;
  padding: 0 2rem;
  line-height: 50px;
  line-height: 3.125rem;
}

.button-prominent, 
input.button-prominent, 
.button-prominent:link, 
.button-prominent:visited, 
.button-prominent:hover, 
.button-prominent:focus, 
.button-prominent:active {
  background: $red;
}

.button-secondary,
input.button-secondary
.button-secondary:link,
.button-secondary:hover {
  color: #6d6e71;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.35);
  text-shadow: none;
  border: 1px solid #e5e5e5;
}

.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.6);
  border-width: 1px;
}

.btn-action-event,
.btn-action-event:link, 
.btn-action-event:visited, 
.btn-action-event:hover, 
.btn-action-event:focus, 
.btn-action-event:active {
  border: 0;
  color: $blue;
  display: block;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 4px;
}

.btn-action-event:hover {
  color: $black;
}

button[disabled], 
button[disabled]:hover, 
button[disabled]:focus, 
button[disabled]:active {
  background-color: #e5e5e5;
  cursor: not-allowed;
  text-shadow: none;
  color: #bebebe;
}
