textarea, 
input, 
select {
  border-radius: 4px;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: #999595;
  border-color: rgba(153, 149, 149, 0.7);
  margin-bottom: 1em;
  font-family: $font-family-contrast;
}

input, 
select {
  padding: 0 12px;
  padding: 0 0.75rem;
  margin: 0 8px 2px 0;
  margin: 0 0.5rem 0.125rem 0;
  line-height: 19px;
  line-height: 1.1875rem;
  font-size: 14px;
  font-size: 0.875rem;
  min-height: 39px;
  min-height: 2.4375rem;
  vertical-align: middle;
  display: inline-block;
}

input[disabled] {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
}

select {
  background-image: url(../img/arrow-triangle-down.png);
  background-position: 96% center;
  background-position: top 12px right 15px;
  background-repeat: no-repeat;
  padding: 9px 26px;
  padding: 0.5625rem 1.625rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  font-size: 1em;
  line-height: 1.4em;
  -webkit-appearance: none;
  min-width: 150px;
}

textarea {
  padding: 1em 1%;
  font-size: 1em;
  margin: 0;
}

select[disabled] {
  cursor: not-allowed;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
}

textarea[disabled] {
  cursor: not-allowed;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
}

fieldset {
  border: 0;
  margin-bottom: 2em;
}

label {
  line-height: 20px;
  line-height: 1.25rem;
  display: block;
  margin-right: 0.5em;
  text-transform: uppercase;
  color: #6d6e71;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 0.8em;
  font-family: $font-family-contrast;
  font-weight: 600;
}

.field-wrapper {
  margin-bottom: 1em;

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  textarea,
  select {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }

  button,
  .button,
  .button:link,
  input[type="button"],
  input[type="submit"] {
    margin-bottom: 0;
    margin-top: 1em;
  }

  input.short-input {
    width: 48%;
  }
}

legend {
  font-family: $font-family-contrast;
  font-weight: 600;
  margin-bottom: 1em;
}

.field-group {
  width: 100%;
  float: left;
  margin-bottom: 0.5em;

  .field-wrapper  {
    float: left;
    width: 48%;
  }
  .field-wrapper:last-child {
    margin-right: 0;
    float: right;
  }
}

.form__wrap {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0 , .1);
  border-radius: 4px;
  margin: 0 auto;
  padding: 40px;

  form {
    margin: 30px auto;
    max-width: 700px
  }
  .alert {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }
}

.list-form {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.list-form li {
  list-style-type: none;
  margin-bottom: 0.5em;
  background-image: none;
  padding-left: 0;
}

.feature-fieldset {
  background: #e5e5e5;
  background: rgba(229, 229, 229, .35);
  border: 1px solid #e5e5e5;
  padding: 20px 20px 10px;
}

.save-product {
  padding: 15px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
  border: 1px solid #f9f9f9; 
}

.remove-square {
  visibility: hidden; 
}

.input-file::before {
  content: 'Seleccionar';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9 , #e3e3e3 );
  border: 1px solid #d6d5d5 ;
  border-radius: 2px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 12px;
  visibility: visible;
  position: relative;
  margin: 20px 0; 
}

.input-file:hover::before {
  border-color: #bababa; 
}

.input-file-error::before {
  content: 'Seleccionar';
  display: inline-block;
  border-radius: 2px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 12px;
  visibility: visible;
  position: relative;
  margin: 20px 0;
  background: -webkit-linear-gradient(top, #ffc0cb , #ffccd5 );;
  border: 1px solid #df8380 ; 
}

.input-file-error:hover::before {
  border: 1px solid #c7534f; 
}

.imgLogo {
  width: 250px; 
}