.pp-header {
  background-color: #f1f1f1;
  padding: 0.5em 0;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ddd;
}

.pattern {
  clear: both;
  float: left;
  margin: 0 0 3em;
  width: 100%;
}

.source {
  width: auto;
  background-color: #fff;
  overflow: hidden;
}

.main-content {
  margin: 0 auto;
  max-width: 900px;
}

.main-content {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after, 
  &:after {
    clear: both;
  }
}

.group {
  margin: 0 auto;
  max-width: 1200px;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after, 
.group:after {
  clear: both;
}

.wrapper {
  background-color: #f4f4f4;
  padding: 40px 0 60px;
}

.about {
  padding: 60px 0;
}

.next-events {
  margin-bottom: 60px;
}

.site-header {
  background-color: $blue;
  padding: 10px 0 0;
}

.site-footer {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  padding: 30px 0;
}

.l-form-half {
  float: left;
  width: 60%;
}

.help-sidebar {
  background: #fbf9f9;
  border: 1px solid #ebebeb;
  float: right;
  padding: 1em;
  width: 35%;
}