a:link,
a:visited,
a:hover,
a:focus,
a:active {
  border-bottom: 1px solid $red;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
    border-bottom-color: transparent;
}

a img {
  border: none;
}