.alert, 
.alert-failure, 
.alert-success, 
.alert-info {
  padding: 10px;
  padding: 0.625rem;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  border-radius: 3px;
  border-radius: 0.1875rem;
  background: #fedd44;
  background: rgba(254, 221, 68, 0.4);
  border: 1px solid;
  border-color: #fedd44;
  border-color: rgba(254, 221, 68, 0.5);
  color: #494c49;
}

.alert p, 
.alert-failure p, 
.alert-success p, 
.alert-info p {
  margin: 0;
}
.alert p + *, 
.alert-failure p + *, 
.alert-success p + *, 
.alert-info p + * {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.alert-failure {
  background: $red;
  background: rgba(207, 27, 65, 0.3);
  border-color: $red;
  border-color: rgba(207, 27, 65, 0.1);
}

.alert-success {
  background: #3f863f;
  background: rgba(63, 134, 63, 0.2);
  border-color: #3f863f;
  border-color: rgba(63, 134, 63, 0.1);
}

.alert-info {
  background: #399fd3;
  background: rgba(57, 159, 211, 0.2);
  border-color: #399fd3;
  border-color: rgba(57, 159, 211, 0.1);
}

.error {
  background-color: #f7f5f5;
  border: 2px solid $red;
}