.actions-tabs {
  border-bottom: 2px solid $gray;
  float: left;
  font-size: 14px;
  margin-left: 0;
  margin: 0 0 40px;
  padding: 0;
  padding-top: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.nav-tab {
  float: left;
  font-family: $font-family-contrast;
  font-weight: 600;
  display: inline-block;
  background-image: none;
  padding-left: 0;

  .nav-tab-link {
    border-bottom: 2px solid transparent;
    padding: 16px 20px 5px;
    margin: 0 0 0 20px;
    display: block;
    position: relative;
  }
  .is-active {
    border-bottom-color: $gray;
  }
}

.actions-tabs__options {
  clear: both;
  display: table;
  width: 96%;
  float: none;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}