.menu {
    list-style: none;
    margin: 0;
    
    a {
        border: 0;
        display: block;
        float: left;
        padding: 4px 6px;

        &:hover {
            color: $gray;
        }
    }
    li {
        background: none;
        display: inline;
        font-family: $font-family-contrast;
        font-weight: 600;
        padding: 0;
    }
}

.main-nav {
    float: right;

    a,
    a:hover {
        color: #fff;
    }
}

.nav-footer {
    float: right;
}